/*STEEP1*/
.inicio{
	/* LOGO-INI */
	width: 100vw;
	height: 100vh;
	background: linear-gradient(351.29deg, rgb(255 255 255) 51.84%, rgb(0 202 234) 103.47%);
	backdrop-filter: blur(4px);
	/* Note: backdrop-filter has minimal browser support */

	/*transform: matrix(-1, 0, 0, 1, 0, 0);*/
}
.logo{
	width: 40vw;
  margin-left: 110px;
  margin-top: 230px;
}

.logoFuente{

	margin-top: 50px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 54px;

	color: #0F1F27;
}

/*STEEP2*/
.bgWhite{
	width: 100vw;
	height: 115vh;
	background: #FFFFFF;
}
.logoPequeno{
	width: 10vw;
  margin-top: 20px;
}

.descubrir{

	margin-left: -100px;
	margin-top: 20px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 54px;
	text-transform:none;

	color: #00CAEA;
}
.lupa{
	margin-top: 40px;
	margin-left: 55px;
}
.storiesPhotos{
	width: 13vw;
  margin-top: 20px;
  border-radius: 150px;
}
.storiesText{
	margin-top: 10px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	line-height: 11px;
	text-transform:none;

	color: #808191;
}

.obCupon{
  margin-left: 15px;
  margin-top: 10px;
}

.cuponBtn{

  margin-top: -50px;
  margin-left: 52px;
  font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	line-height: 11px;
	text-transform:none;

	color: #00CAEA;

}

.masVisit{

	margin-top: 70px;
	margin-left: 25px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	text-transform:none;
	text-align: left;

	color: #00CAEA;
}

.photos{
	margin-top: 20px;
  margin-left: 12px;
  border-radius: 10px;
}

.h1Photos{
	margin-top: 25px;
  margin-left: -35px;
  font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 22px;
	text-transform:none;
	letter-spacing: 0.3px;
	color: #0F1F27;
}

.namePhotos{
  margin-left: -35px;
  font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 12px;
	text-transform:none;
	letter-spacing: 0.5px;
	color: #0F1F27;
	opacity: 0.5;
}

.perfil{
	width: 9vw;
  margin-top: 20px;
  border-radius: 150px;
}

/*SLIDER*/
.slider {	
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 300%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100vw;
}

@keyframes cambio {
	0% {margin-left: 0;}
	30% {margin-left: 0;}
	
	35% {margin-left: -100%;}
	60% {margin-left: -100%;}
	
	65% {margin-left: -200%;}
	100% {margin-left: -200%;}
	
}

.slider p{
	margin-top: -130px;
  margin-left: 130px;
  font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	color: #FFFFFF;
	text-transform:none;
	letter-spacing: 0.5px;
	display: table-caption;
}

.imgService{
	border-radius: 12px;
	margin-top: -100px;
}

.textService{
	margin-left: 9px;
	font-family: Poppins;
	font-weight: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 15px;
	text-transform:none;
	
}
.btnService{	
	border: 2px solid rgba(227, 227, 227, 0.8);
	box-sizing: border-box;
	border-radius: 20px;
	background: #FFFFFF;
}

.btnService i{
	color: #00CAEA;
	font-size: 15px !important;
  text-align: initial;

}

.btnService a{
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	text-transform:none;
	color: #0F1F27 !important;
  margin-left: 5px;
}

.btnServiceRes{
	border: 2px solid rgba(227, 227, 227, 0.8);
	box-sizing: border-box;
	border-radius: 20px;
	background: #FFFFFF;
  margin-top: 6px;
}

.btnServiceRes i{
	color: #00CAEA;
	font-size: 15px !important;
  text-align: initial;

}

.btnServiceRes a{
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	text-transform:none;
	color: #0F1F27 !important;
	margin-left: 10px;
}

.valoraciones h1{
	margin-top: 40px;
	margin-left: 20px;
	font-family: Poppins;
	font-style: normal;
	font-size: 22px;
	text-transform:none;
	text-align: left;
	color: #4D4D4D!important;
}

.valoraciones p{
	margin-left: 20px;
	font-family: Poppins;
	font-style: normal;
	font-size: 12px;
	text-transform:none;
	text-align: left;
	color: #4D4D4D;
}

.valoraciones i{
	color: #00CAEA;
	margin-left: 20px;
}
.comments{
	margin-left: -125px!important;
	margin-top: -14px;
  font-family: Poppins;
  font-style: normal;
  font-size: 12px;
  text-transform: none;
  text-align: left;
  color: #4D4D4D;

}

.commentsName{
	margin-left: -125px!important;
	margin-top: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: none;
  text-align: left;
  color: #4D4D4D;
}

/*steep4*/
.bgNegocio{
	width: 100vw;
	height: 100vh;
	background-image:url(../img/negocioblur.png)!important;
}

.bgCaja{
	width: 280px;
  height: 580px;
  background: #ffffffb8;
  margin-left: 36px;
  margin-top: 111px;
  position: fixed;
  border-radius: 12px;
}

.bgCaja img{
	width: 85px;
  margin-left: 100px;
  margin-top: 30px;
}

.bgCaja h1{
	margin-top: 25px;
	margin-left: 38px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	text-transform:none;
	text-align: left;
	color: #0F1F27;
}

.bgCaja p{
	margin-left: 74px;
  font-family: Poppins;
  font-style: normal;
  font-size: 18px;
  text-transform: none;
  text-align: left;
  color: #0F1F27;
}

.bgCaja input{
	background: #FFFFFF;
	border: 1px solid #B5B5B5;
	box-sizing: border-box;
	border-radius: 20px;
  margin-top: 10px;
  margin-left: 50px;
}

.btnIngresar{
	background: #00CAEA;
	border: 1px solid #B5B5B5;
	box-sizing: border-box;
	border-radius: 20px;
	margin-left: 48px;
  margin-top: 30px;
}
.btnIngresar a{
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	padding: 42px;
	text-align: center;

	color: #FFFFFF;
}

.btnFb{
	background: #3C59A3;
	border: 1px solid #B5B5B5;
	box-sizing: border-box;
	border-radius: 20px;
	margin-left: 33px;
  margin-top: 20px;
}

.btnFb a{
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	padding: 6px;
	text-align: center;

	color: #FFFFFF;
}

.btnGoogle{
	background: #FFFFFF;
	border: 1px solid #B5B5B5;
	box-sizing: border-box;
	border-radius: 20px;
	margin-left: 33px;
  margin-top: 20px;
}

.btnGoogle a{
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	padding: 16px;
	text-align: center;

	color: #626262!important;
}

.btnGoogle i{
	color: #626262!important;
}

/*STEEP 5 TICKET*/
.bgWaves{
	width: 100vw;
	height: 100vh;
	background-image:url(../img/waves.png)!important;
  background: no-repeat;
  margin-top: -17px;
  position: absolute;

}

.textHeader{
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	text-transform:none;
	color: #FFFFFF !important;
	margin-left: 10px;
  margin-top: 10px;
}

.btnHeader{
	border: 2px solid rgba(227, 227, 227, 0.8);
	box-sizing: border-box;
	border-radius: 20px;
	background: #FFFFFF;
  margin-top: 6px;
  margin-left: 55px;

}

.btnHeader i{
	color: #00CAEA;
	font-size: 35px !important;
  text-align: initial;

}

.btnHeader a{
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	text-transform:none;
	color: #0F1F27 !important;
  padding: 10px;

}

.turnoTicket i{
	color:  #0F1F27;
	font-size: 132px !important;
  margin-left: 110px;
  margin-top: 11px;
}

.turnoTicket p{
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 49px;
  text-transform: none;
  color: #f8f9fa !important;
  margin-left: 169px;
  margin-top: -104px;
}

.turnoAntes i{
  color: #00CAEA;
  font-size: 40px !important;
  padding: 5px;
}

.turnoAntes p{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  text-transform: none;
  color: #0f1f27 !important;
  margin-left: 249px;
  margin-top: -37px;
}

.turnoAntes span{
	font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-transform: none;
  color: #0f1f27 !important;
  margin-left: 100px;
}
